---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";

const posts = await getCollection("posts");
---

<BaseLayout>
  <div class="post-wrapper">
    <h1>Posts</h1>
    <div>
      {posts.map((p) => <PostCard post={p} />)}
    </div>
  </div>
</BaseLayout>
