---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
const posts = await getCollection("posts");
const services = await getCollection("services", (entry) =>
  import.meta.env.PROD ? entry.data.available : true
);
---

<BaseLayout>
  <div class="homepage">
    <div>
      <h1>Content Collection Overview</h1>
    </div>
    <div>
      <h2>Services We Offer</h2>
      <ul>{services.map((s) => <li role="listitem">{s.data.title}</li>)}</ul>
    </div>
    <div class="post-wrapper">
      <h2>Posts</h2>
      <div>{posts.slice(0, 3).map((p) => <PostCard post={p} />)}</div>
    </div>
  </div>
</BaseLayout>
